.reveal pre {
  display: grid; }

.net-is-cool {
  height: 400px; }

.large-code {
  width: 104% !important;
  position: relative !important;
  right: 2% !important; }
  .large-code code {
    max-height: 500px !important; }

.remove-img-presets {
  background: none !important;
  border: none !important;
  box-shadow: none !important; }

.git-github {
  height: 200px;
  margin: auto; }

.cordova-cute {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 150px;
  position: absolute;
  bottom: -136px;
  right: 0;
  transform: rotate(-30deg); }

.cordova-heart {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: 130px; }

.anim-text-flow {
  /*
   * Animation variables
   */
  /*
   * Elements settings
   */
  /*
   * Keyframe loop
   */
  /*
   * Element animation delay loop
   */ }
  .anim-text-flow span {
    animation-name: anim-text-flow-keys;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards; }

@keyframes anim-text-flow-keys {
  0% {
    color: #d69d5c; }
  5% {
    color: #bcd65c; }
  10% {
    color: #5cd69f; }
  15% {
    color: #bad65c; }
  20% {
    color: #5cd664; }
  25% {
    color: #5cafd6; }
  30% {
    color: #d6b15c; }
  35% {
    color: #8f5cd6; }
  40% {
    color: #d6b85c; }
  45% {
    color: #5cc8d6; }
  50% {
    color: #8fd65c; }
  55% {
    color: #6c5cd6; }
  60% {
    color: #5c85d6; }
  65% {
    color: #5cd68b; }
  70% {
    color: #5cadd6; }
  75% {
    color: #5cced6; }
  80% {
    color: #78d65c; }
  85% {
    color: #d65cc6; }
  90% {
    color: #5cd670; }
  95% {
    color: #d65cc0; }
  100% {
    color: #d65cb4; } }
  .anim-text-flow span:nth-of-type(1) {
    animation-delay: -19.8s; }
  .anim-text-flow span:nth-of-type(2) {
    animation-delay: -19.6s; }
  .anim-text-flow span:nth-of-type(3) {
    animation-delay: -19.4s; }
  .anim-text-flow span:nth-of-type(4) {
    animation-delay: -19.2s; }
  .anim-text-flow span:nth-of-type(5) {
    animation-delay: -19s; }
  .anim-text-flow span:nth-of-type(6) {
    animation-delay: -18.8s; }
  .anim-text-flow span:nth-of-type(7) {
    animation-delay: -18.6s; }
  .anim-text-flow span:nth-of-type(8) {
    animation-delay: -18.4s; }
  .anim-text-flow span:nth-of-type(9) {
    animation-delay: -18.2s; }
  .anim-text-flow span:nth-of-type(10) {
    animation-delay: -18s; }
  .anim-text-flow span:nth-of-type(11) {
    animation-delay: -17.8s; }
  .anim-text-flow span:nth-of-type(12) {
    animation-delay: -17.6s; }
  .anim-text-flow span:nth-of-type(13) {
    animation-delay: -17.4s; }
  .anim-text-flow span:nth-of-type(14) {
    animation-delay: -17.2s; }
  .anim-text-flow span:nth-of-type(15) {
    animation-delay: -17s; }
  .anim-text-flow span:nth-of-type(16) {
    animation-delay: -16.8s; }
  .anim-text-flow span:nth-of-type(17) {
    animation-delay: -16.6s; }
  .anim-text-flow span:nth-of-type(18) {
    animation-delay: -16.4s; }
  .anim-text-flow span:nth-of-type(19) {
    animation-delay: -16.2s; }
  .anim-text-flow span:nth-of-type(20) {
    animation-delay: -16s; }
  .anim-text-flow span:nth-of-type(21) {
    animation-delay: -15.8s; }
  .anim-text-flow span:nth-of-type(22) {
    animation-delay: -15.6s; }
  .anim-text-flow span:nth-of-type(23) {
    animation-delay: -15.4s; }
  .anim-text-flow span:nth-of-type(24) {
    animation-delay: -15.2s; }
  .anim-text-flow span:nth-of-type(25) {
    animation-delay: -15s; }
  .anim-text-flow span:nth-of-type(26) {
    animation-delay: -14.8s; }
  .anim-text-flow span:nth-of-type(27) {
    animation-delay: -14.6s; }
  .anim-text-flow span:nth-of-type(28) {
    animation-delay: -14.4s; }
  .anim-text-flow span:nth-of-type(29) {
    animation-delay: -14.2s; }
  .anim-text-flow span:nth-of-type(30) {
    animation-delay: -14s; }
  .anim-text-flow span:nth-of-type(31) {
    animation-delay: -13.8s; }
  .anim-text-flow span:nth-of-type(32) {
    animation-delay: -13.6s; }
  .anim-text-flow span:nth-of-type(33) {
    animation-delay: -13.4s; }
  .anim-text-flow span:nth-of-type(34) {
    animation-delay: -13.2s; }
  .anim-text-flow span:nth-of-type(35) {
    animation-delay: -13s; }
  .anim-text-flow span:nth-of-type(36) {
    animation-delay: -12.8s; }
  .anim-text-flow span:nth-of-type(37) {
    animation-delay: -12.6s; }
  .anim-text-flow span:nth-of-type(38) {
    animation-delay: -12.4s; }
  .anim-text-flow span:nth-of-type(39) {
    animation-delay: -12.2s; }
  .anim-text-flow span:nth-of-type(40) {
    animation-delay: -12s; }
  .anim-text-flow span:nth-of-type(41) {
    animation-delay: -11.8s; }
  .anim-text-flow span:nth-of-type(42) {
    animation-delay: -11.6s; }
  .anim-text-flow span:nth-of-type(43) {
    animation-delay: -11.4s; }
  .anim-text-flow span:nth-of-type(44) {
    animation-delay: -11.2s; }
  .anim-text-flow span:nth-of-type(45) {
    animation-delay: -11s; }
  .anim-text-flow span:nth-of-type(46) {
    animation-delay: -10.8s; }
  .anim-text-flow span:nth-of-type(47) {
    animation-delay: -10.6s; }
  .anim-text-flow span:nth-of-type(48) {
    animation-delay: -10.4s; }
  .anim-text-flow span:nth-of-type(49) {
    animation-delay: -10.2s; }
  .anim-text-flow span:nth-of-type(50) {
    animation-delay: -10s; }
  .anim-text-flow span:nth-of-type(51) {
    animation-delay: -9.8s; }
  .anim-text-flow span:nth-of-type(52) {
    animation-delay: -9.6s; }
  .anim-text-flow span:nth-of-type(53) {
    animation-delay: -9.4s; }
  .anim-text-flow span:nth-of-type(54) {
    animation-delay: -9.2s; }
  .anim-text-flow span:nth-of-type(55) {
    animation-delay: -9s; }
  .anim-text-flow span:nth-of-type(56) {
    animation-delay: -8.8s; }
  .anim-text-flow span:nth-of-type(57) {
    animation-delay: -8.6s; }
  .anim-text-flow span:nth-of-type(58) {
    animation-delay: -8.4s; }
  .anim-text-flow span:nth-of-type(59) {
    animation-delay: -8.2s; }
  .anim-text-flow span:nth-of-type(60) {
    animation-delay: -8s; }
  .anim-text-flow span:nth-of-type(61) {
    animation-delay: -7.8s; }
  .anim-text-flow span:nth-of-type(62) {
    animation-delay: -7.6s; }
  .anim-text-flow span:nth-of-type(63) {
    animation-delay: -7.4s; }
  .anim-text-flow span:nth-of-type(64) {
    animation-delay: -7.2s; }
  .anim-text-flow span:nth-of-type(65) {
    animation-delay: -7s; }
  .anim-text-flow span:nth-of-type(66) {
    animation-delay: -6.8s; }
  .anim-text-flow span:nth-of-type(67) {
    animation-delay: -6.6s; }
  .anim-text-flow span:nth-of-type(68) {
    animation-delay: -6.4s; }
  .anim-text-flow span:nth-of-type(69) {
    animation-delay: -6.2s; }
  .anim-text-flow span:nth-of-type(70) {
    animation-delay: -6s; }
  .anim-text-flow span:nth-of-type(71) {
    animation-delay: -5.8s; }
  .anim-text-flow span:nth-of-type(72) {
    animation-delay: -5.6s; }
  .anim-text-flow span:nth-of-type(73) {
    animation-delay: -5.4s; }
  .anim-text-flow span:nth-of-type(74) {
    animation-delay: -5.2s; }
  .anim-text-flow span:nth-of-type(75) {
    animation-delay: -5s; }
  .anim-text-flow span:nth-of-type(76) {
    animation-delay: -4.8s; }
  .anim-text-flow span:nth-of-type(77) {
    animation-delay: -4.6s; }
  .anim-text-flow span:nth-of-type(78) {
    animation-delay: -4.4s; }
  .anim-text-flow span:nth-of-type(79) {
    animation-delay: -4.2s; }
  .anim-text-flow span:nth-of-type(80) {
    animation-delay: -4s; }
  .anim-text-flow span:nth-of-type(81) {
    animation-delay: -3.8s; }
  .anim-text-flow span:nth-of-type(82) {
    animation-delay: -3.6s; }
  .anim-text-flow span:nth-of-type(83) {
    animation-delay: -3.4s; }
  .anim-text-flow span:nth-of-type(84) {
    animation-delay: -3.2s; }
  .anim-text-flow span:nth-of-type(85) {
    animation-delay: -3s; }
  .anim-text-flow span:nth-of-type(86) {
    animation-delay: -2.8s; }
  .anim-text-flow span:nth-of-type(87) {
    animation-delay: -2.6s; }
  .anim-text-flow span:nth-of-type(88) {
    animation-delay: -2.4s; }
  .anim-text-flow span:nth-of-type(89) {
    animation-delay: -2.2s; }
  .anim-text-flow span:nth-of-type(90) {
    animation-delay: -2s; }
  .anim-text-flow span:nth-of-type(91) {
    animation-delay: -1.8s; }
  .anim-text-flow span:nth-of-type(92) {
    animation-delay: -1.6s; }
  .anim-text-flow span:nth-of-type(93) {
    animation-delay: -1.4s; }
  .anim-text-flow span:nth-of-type(94) {
    animation-delay: -1.2s; }
  .anim-text-flow span:nth-of-type(95) {
    animation-delay: -1s; }
  .anim-text-flow span:nth-of-type(96) {
    animation-delay: -0.8s; }
  .anim-text-flow span:nth-of-type(97) {
    animation-delay: -0.6s; }
  .anim-text-flow span:nth-of-type(98) {
    animation-delay: -0.4s; }
  .anim-text-flow span:nth-of-type(99) {
    animation-delay: -0.2s; }
  .anim-text-flow span:nth-of-type(100) {
    animation-delay: 0s; }

*, *::before, *::after {
  box-sizing: border-box; }

.spoiler {
  position: relative;
  color: transparent;
  text-shadow: 0 0 20px #55657a;
  cursor: help; }

.spoiler::before, .spoiler::after {
  display: block;
  position: absolute;
  line-height: 1;
  color: #872e27;
  text-align: center;
  text-shadow: none; }

.spoiler::before {
  top: 36px;
  left: 0;
  right: 0;
  font-size: 72px;
  content: 'SPOILER ALERT'; }

.spoiler::after {
  opacity: 0;
  top: 84px;
  left: calc(50% - 36px);
  width: 60px;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  clip: rect(0, 72px, 72px, 0);
  content: '3 2 1'; }

.spoiler:hover {
  color: white;
  text-shadow: 0 0 0 transparent;
  transition: all 1s !important;
  transition-delay: 4s !important; }

.spoiler:hover::before {
  animation: countdown-before 5s forwards; }

.spoiler:hover::after {
  animation: countdown-after 5s forwards; }

@keyframes countdown-before {
  25% {
    transform: translateY(-24px); }
  75% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(-24px); } }

@keyframes countdown-after {
  25% {
    opacity: 1;
    clip: rect(0, 72px, 72px, 0);
    transform: translateY(0);
    animation-timing-function: steps(1, start); }
  50% {
    clip: rect(72px, 72px, 144px, 0);
    transform: translateY(-72px);
    animation-timing-function: steps(1, start); }
  75% {
    opacity: 1;
    clip: rect(144px, 72px, 216px, 0);
    transform: translateY(-144px); }
  100% {
    opacity: 0;
    clip: rect(144px, 72px, 216px, 0);
    transform: translateY(-144px); } }
